[Unit]
Description=aws-iam-authenticator: use IAM tokens to authenticate against a kubernetes cluster
Documentation=https://github.com/kubernetes-sigs/aws-iam-authenticator
#Wants=network-online.target
#After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=kubernetes
Restart=on-failure
# Common environment variables
EnvironmentFile=/etc/sysconfig/kube-common
# For CA certs and keys
EnvironmentFile=/etc/sysconfig/kube-pki
EnvironmentFile=/etc/sysconfig/aws-iam-authenticator
ExecStart=/usr/bin/aws-iam-authenticator server \
    --address 127.0.0.1 \
    --backend-mode EKSConfigMap,CRD \
    --state-dir $AWS_AUTH_STATE_DIR \
    --generate-kubeconfig $AWS_AUTH_HOOK_FILE \
    --cluster-id $CLUSTER_NAME \
    --kubeconfig $AWS_AUTH_KUBECONFIG