[Unit]
Description=kube-scheduler: intelligently assigns pods to nodes
Documentation=https://kubernetes.io/docs/
#Wants=network-online.target
#After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=kubernetes
Restart=on-failure
# Common environment variables
EnvironmentFile=/etc/sysconfig/kube-common
# Kube-scheduler specific configuration
EnvironmentFile=/etc/sysconfig/kube-scheduler
ExecStart=/usr/bin/kube-scheduler \
    --kubeconfig=${KUBECONFIG} \
    --authentication-kubeconfig=${KUBECONFIG} \
    --authorization-kubeconfig=${KUBECONFIG}